In [123]:
import pandas as pd

In [124]:
data_1 = pd.read_csv('krisha_sell_data.csv')

In [125]:
data_1.columns

Index(['Title', 'Price', 'City', 'Type of house', 'Map complex', 'House year',
       'Flat floor', 'live square'],
      dtype='object')

In [126]:
data_1.shape

(2614, 8)

In [127]:
data_2 = pd.read_csv('krisha_sell_2.csv')

In [128]:
data_2.columns

Index(['Title', 'Price', 'City', 'Type of house', 'Map complex', 'House year',
       'Flat floor', 'live square'],
      dtype='object')

In [129]:
data_2.shape

(1865, 8)

In [130]:
data = pd.concat([data_1, data_2], ignore_index=True, axis= 0)

In [131]:
data.shape

(4479, 8)

In [132]:
data.head()

,Title,Price,City,Type of house,Map complex,House year,Flat floor,live square
0,"3-комнатная квартира, 115 м², 7/21 этаж, Кенес...",47 000 000 \n〒,"Астана, р-н Байконур\nпоказать на карте",монолитный,Эдем палас-2,2016.0,7 из 21,115 м²
1,"1-комнатная квартира, 44.3 м², 9/9 этаж, Нурма...",17 000 000 \n〒,"Астана, Алматы р-н\nпоказать на карте",монолитный,Grand Victoria,2023.0,9 из 9,"44.3 м², Площадь кухни — 12 м²"
2,"1-комнатная квартира, 40 м², 7/9 этаж, АсылАрм...",16 000 000 \n〒,"Иргели, Алматинская обл.\nпоказать на карте",кирпичный,Асыл Арман,2014.0,7 из 9,"40 м², Площадь кухни — 11 м²"
3,"1-комнатная квартира, 46.1 м², Мусрепова 57/1\...",от 12 908 000 \n〒,"Талгар, Алматинская обл.\nпоказать на карте",монолитный,Altyn Beket,2025.0,NaN,46.1 м²
4,"2-комнатная квартира, 57.8 м², 7/12 этаж, мкр ...",36 000 000 \n〒,"Алматы, Алатауский р-н\nпоказать на карте",монолитный,Алмалы,2018.0,7 из 12,"57.8 м², Площадь кухни — 10 м²"

In [133]:
data.columns

Index(['Title', 'Price', 'City', 'Type of house', 'Map complex', 'House year',
       'Flat floor', 'live square'],
      dtype='object')

In [134]:
data.shape

(4479, 8)

In [135]:
data.drop_duplicates(inplace=True)

In [136]:
data.shape

(4475, 8)

In [137]:
data.isnull().sum()

Title               1
Price               1
City                1
Type of house     147
Map complex      1102
House year          1
Flat floor       1764
live square         1
dtype: int64

In [138]:
data = data.dropna(subset= ['Price'], axis=0)

In [139]:
data.isnull().sum()

Title               0
Price               0
City                0
Type of house     146
Map complex      1101
House year          0
Flat floor       1763
live square         0
dtype: int64

In [140]:
data.head()

,Title,Price,City,Type of house,Map complex,House year,Flat floor,live square
0,"3-комнатная квартира, 115 м², 7/21 этаж, Кенес...",47 000 000 \n〒,"Астана, р-н Байконур\nпоказать на карте",монолитный,Эдем палас-2,2016.0,7 из 21,115 м²
1,"1-комнатная квартира, 44.3 м², 9/9 этаж, Нурма...",17 000 000 \n〒,"Астана, Алматы р-н\nпоказать на карте",монолитный,Grand Victoria,2023.0,9 из 9,"44.3 м², Площадь кухни — 12 м²"
2,"1-комнатная квартира, 40 м², 7/9 этаж, АсылАрм...",16 000 000 \n〒,"Иргели, Алматинская обл.\nпоказать на карте",кирпичный,Асыл Арман,2014.0,7 из 9,"40 м², Площадь кухни — 11 м²"
3,"1-комнатная квартира, 46.1 м², Мусрепова 57/1\...",от 12 908 000 \n〒,"Талгар, Алматинская обл.\nпоказать на карте",монолитный,Altyn Beket,2025.0,NaN,46.1 м²
4,"2-комнатная квартира, 57.8 м², 7/12 этаж, мкр ...",36 000 000 \n〒,"Алматы, Алатауский р-н\nпоказать на карте",монолитный,Алмалы,2018.0,7 из 12,"57.8 м², Площадь кухни — 10 м²"

In [141]:
type(data['Price'].loc[0])

str

In [142]:
data['Price'] = data['Price'].str.replace(r'[\D]', '', regex=True).astype(int)

In [143]:
data.head()

,Title,Price,City,Type of house,Map complex,House year,Flat floor,live square
0,"3-комнатная квартира, 115 м², 7/21 этаж, Кенес...",47000000,"Астана, р-н Байконур\nпоказать на карте",монолитный,Эдем палас-2,2016.0,7 из 21,115 м²
1,"1-комнатная квартира, 44.3 м², 9/9 этаж, Нурма...",17000000,"Астана, Алматы р-н\nпоказать на карте",монолитный,Grand Victoria,2023.0,9 из 9,"44.3 м², Площадь кухни — 12 м²"
2,"1-комнатная квартира, 40 м², 7/9 этаж, АсылАрм...",16000000,"Иргели, Алматинская обл.\nпоказать на карте",кирпичный,Асыл Арман,2014.0,7 из 9,"40 м², Площадь кухни — 11 м²"
3,"1-комнатная квартира, 46.1 м², Мусрепова 57/1\...",12908000,"Талгар, Алматинская обл.\nпоказать на карте",монолитный,Altyn Beket,2025.0,NaN,46.1 м²
4,"2-комнатная квартира, 57.8 м², 7/12 этаж, мкр ...",36000000,"Алматы, Алатауский р-н\nпоказать на карте",монолитный,Алмалы,2018.0,7 из 12,"57.8 м², Площадь кухни — 10 м²"

In [144]:
data = data.rename(columns={'Price':'Price (in millions) KZT'})

In [145]:
data['Price (in millions) KZT'] = data['Price (in millions) KZT'] / 1_000_000

In [146]:
data['Price (in millions) KZT'] = data['Price (in millions) KZT'].astype(int)

In [147]:
data.head()

,Title,Price (in millions) KZT,City,Type of house,Map complex,House year,Flat floor,live square
0,"3-комнатная квартира, 115 м², 7/21 этаж, Кенес...",47,"Астана, р-н Байконур\nпоказать на карте",монолитный,Эдем палас-2,2016.0,7 из 21,115 м²
1,"1-комнатная квартира, 44.3 м², 9/9 этаж, Нурма...",17,"Астана, Алматы р-н\nпоказать на карте",монолитный,Grand Victoria,2023.0,9 из 9,"44.3 м², Площадь кухни — 12 м²"
2,"1-комнатная квартира, 40 м², 7/9 этаж, АсылАрм...",16,"Иргели, Алматинская обл.\nпоказать на карте",кирпичный,Асыл Арман,2014.0,7 из 9,"40 м², Площадь кухни — 11 м²"
3,"1-комнатная квартира, 46.1 м², Мусрепова 57/1\...",12,"Талгар, Алматинская обл.\nпоказать на карте",монолитный,Altyn Beket,2025.0,NaN,46.1 м²
4,"2-комнатная квартира, 57.8 м², 7/12 этаж, мкр ...",36,"Алматы, Алатауский р-н\nпоказать на карте",монолитный,Алмалы,2018.0,7 из 12,"57.8 м², Площадь кухни — 10 м²"

In [148]:
data['City'] = data['City'].str.replace(r'\nпоказать на карте', '', regex=True)

In [149]:
# Dividing the 'City' into two: 'City' and 'District'
data[['City', 'District']] = data['City'].str.split(', ', expand=True)

In [150]:
data.head(10)

,Title,Price (in millions) KZT,City,Type of house,Map complex,House year,Flat floor,live square,District
0,"3-комнатная квартира, 115 м², 7/21 этаж, Кенес...",47,Астана,монолитный,Эдем палас-2,2016.0,7 из 21,115 м²,р-н Байконур
1,"1-комнатная квартира, 44.3 м², 9/9 этаж, Нурма...",17,Астана,монолитный,Grand Victoria,2023.0,9 из 9,"44.3 м², Площадь кухни — 12 м²",Алматы р-н
2,"1-комнатная квартира, 40 м², 7/9 этаж, АсылАрм...",16,Иргели,кирпичный,Асыл Арман,2014.0,7 из 9,"40 м², Площадь кухни — 11 м²",Алматинская обл.
3,"1-комнатная квартира, 46.1 м², Мусрепова 57/1\...",12,Талгар,монолитный,Altyn Beket,2025.0,NaN,46.1 м²,Алматинская обл.
4,"2-комнатная квартира, 57.8 м², 7/12 этаж, мкр ...",36,Алматы,монолитный,Алмалы,2018.0,7 из 12,"57.8 м², Площадь кухни — 10 м²",Алатауский р-н
5,"3-комнатная квартира, 68 м², Красина 11В\nОста...",25,Усть-Каменогорск,монолитный,Grand Residence,2025.0,NaN,68 м²,Восточно-Казахстанская обл.
6,"2-комнатная квартира, 63 м², 1/5 этаж, ЖМ Лесн...",17,Косшы,монолитный,Лесная поляна,2023.0,1 из 5,63 м²,Акмолинская обл.
7,"2-комнатная квартира, 57 м², 6/9 этаж, Е429 6\...",29,Астана,монолитный,SHYNGYS,2023.0,6 из 9,57 м²,Нура р-н
8,"3-комнатная квартира, 105.13 м², Городская 3\n...",189,Алматы,монолитный,Tamga Residence,2026.0,NaN,105.13 м²,Медеуский р-н
9,"2-комнатная квартира, 65.67 м², 2-улица 8Б\nОс...",20,Жана Куат,монолитный,Жана Куат,2024.0,NaN,65.67 м²,Алматинская обл.

In [151]:
data['House year'] = data['House year'].astype(int)

In [152]:
data.head(10)

,Title,Price (in millions) KZT,City,Type of house,Map complex,House year,Flat floor,live square,District
0,"3-комнатная квартира, 115 м², 7/21 этаж, Кенес...",47,Астана,монолитный,Эдем палас-2,2016,7 из 21,115 м²,р-н Байконур
1,"1-комнатная квартира, 44.3 м², 9/9 этаж, Нурма...",17,Астана,монолитный,Grand Victoria,2023,9 из 9,"44.3 м², Площадь кухни — 12 м²",Алматы р-н
2,"1-комнатная квартира, 40 м², 7/9 этаж, АсылАрм...",16,Иргели,кирпичный,Асыл Арман,2014,7 из 9,"40 м², Площадь кухни — 11 м²",Алматинская обл.
3,"1-комнатная квартира, 46.1 м², Мусрепова 57/1\...",12,Талгар,монолитный,Altyn Beket,2025,NaN,46.1 м²,Алматинская обл.
4,"2-комнатная квартира, 57.8 м², 7/12 этаж, мкр ...",36,Алматы,монолитный,Алмалы,2018,7 из 12,"57.8 м², Площадь кухни — 10 м²",Алатауский р-н
5,"3-комнатная квартира, 68 м², Красина 11В\nОста...",25,Усть-Каменогорск,монолитный,Grand Residence,2025,NaN,68 м²,Восточно-Казахстанская обл.
6,"2-комнатная квартира, 63 м², 1/5 этаж, ЖМ Лесн...",17,Косшы,монолитный,Лесная поляна,2023,1 из 5,63 м²,Акмолинская обл.
7,"2-комнатная квартира, 57 м², 6/9 этаж, Е429 6\...",29,Астана,монолитный,SHYNGYS,2023,6 из 9,57 м²,Нура р-н
8,"3-комнатная квартира, 105.13 м², Городская 3\n...",189,Алматы,монолитный,Tamga Residence,2026,NaN,105.13 м²,Медеуский р-н
9,"2-комнатная квартира, 65.67 м², 2-улица 8Б\nОс...",20,Жана Куат,монолитный,Жана Куат,2024,NaN,65.67 м²,Алматинская обл.

In [153]:
data['Rooms'] = data['Title'].str.extract(r'(\d+)-комнатная')

In [154]:
data.drop(columns='Title', inplace=True, axis=1)

In [155]:
data.head()

,Price (in millions) KZT,City,Type of house,Map complex,House year,Flat floor,live square,District,Rooms
0,47,Астана,монолитный,Эдем палас-2,2016,7 из 21,115 м²,р-н Байконур,3
1,17,Астана,монолитный,Grand Victoria,2023,9 из 9,"44.3 м², Площадь кухни — 12 м²",Алматы р-н,1
2,16,Иргели,кирпичный,Асыл Арман,2014,7 из 9,"40 м², Площадь кухни — 11 м²",Алматинская обл.,1
3,12,Талгар,монолитный,Altyn Beket,2025,NaN,46.1 м²,Алматинская обл.,1
4,36,Алматы,монолитный,Алмалы,2018,7 из 12,"57.8 м², Площадь кухни — 10 м²",Алатауский р-н,2

In [156]:
data['live square'] = data['live square'].str.extract(r'(\d+\.?\d*)').astype(float)

In [157]:
data = data.rename(columns={'live square':'live square (in м²)'})

In [158]:
data.shape

(4474, 9)

In [159]:
data.isnull().sum()

Price (in millions) KZT       0
City                          0
Type of house               146
Map complex                1101
House year                    0
Flat floor                 1763
live square (in м²)           0
District                    204
Rooms                         0
dtype: int64

In [161]:
data['Type of house'].fillna("Unknown", inplace=True)

In [163]:
data['Map complex'].fillna("Not Specified", inplace=True)

In [167]:
data['District'].fillna("Unknown", inplace=True)

In [168]:
data.isnull().sum()

Price (in millions) KZT    0
City                       0
Type of house              0
Map complex                0
House year                 0
Flat floor                 0
live square (in м²)        0
District                   0
Rooms                      0
dtype: int64

In [170]:
# The new order
new_column_order = ['City', 'District', 'Map complex', 'Rooms', 'Type of house', 
                    'House year', 'Flat floor', 'live square (in м²)', 'Price (in millions) KZT']

# Applying the new order
data = data[new_column_order]

In [171]:
data.head()

,City,District,Map complex,Rooms,Type of house,House year,Flat floor,live square (in м²),Price (in millions) KZT
0,Астана,р-н Байконур,Эдем палас-2,3,монолитный,2016,7,115.0,47
1,Астана,Алматы р-н,Grand Victoria,1,монолитный,2023,9,44.3,17
2,Иргели,Алматинская обл.,Асыл Арман,1,кирпичный,2014,7,40.0,16
3,Талгар,Алматинская обл.,Altyn Beket,1,монолитный,2025,5,46.1,12
4,Алматы,Алатауский р-н,Алмалы,2,монолитный,2018,7,57.8,36

In [172]:
data.to_csv('processed_sell_data.csv')